<a href="https://colab.research.google.com/github/itsdakshjain/Data-Hackathon/blob/main/census%20data/CensusDataFormatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re

df = pd.read_csv("00 A 2-India(v2).csv", dtype=str)

df.columns = [
    "State_Code",
    "District_Code",
    "Region",
    "Census_Year",
    "Persons",
    "Variation_Absolute",
    "Variation_Percentage",
    "Males",
    "Females"
]

# Remove everything except digits from year
df["Census_Year"] = (
    df["Census_Year"]
    .str.replace(r"[^0-9]", "", regex=True)
)

In [ ]:
import pandas as pd
import re

df = pd.read_csv("00 A 2-India(v2).csv", dtype=str)

In [ ]:
df.head

<bound method NDFrame.head of     State_Code District_Code Region Census_Year         Persons  \
0           00           000  INDIA        1901   23,83,96,327
1          NaN           NaN    NaN        1911   25,20,93,390
2          NaN           NaN    NaN        1921   25,13,21,213
3          NaN           NaN    NaN        1931   27,89,77,238
4          NaN           NaN    NaN        1941   31,86,60,580
..         ...           ...    ...         ...             ...
463        NaN           NaN    NaN        1981       1,88,741
464        NaN           NaN    NaN        1991       2,80,661
465        NaN           NaN    NaN        2001       3,56,152
466        NaN           NaN    NaN        2011       3,80,581
467        NaN           NaN    NaN         NaN             NaN

      Variation_Absolute Variation_Percentage           Males         Females
0                    ---                  ---   12,07,91,301    11,73,58,672
1          + 13,697,063                 +5.75   12,83,85,368    12,37,08,022
2             - 772,177                - 0.31   12,85,46,225    12,27,74,988
3           +27,656,025                +11.00   14,29,29,689    13,57,88,921
4           +39,683,342                +14.22   16,36,85,302    15,46,90,267
..                   ...                  ...             ...             ...
463              +73,608               +63.93       1,07,261          81,480
464              +91,920               +48.70       1,54,369        1,26,292
465              +75,491               +26.90       1,92,972        1,63,180
466              +24,429                +6.86       2,02,871        1,77,710
467                  NaN                  NaN             NaN             NaN

[468 rows x 9 columns]>

In [ ]:
df['State_Code'].describe

<bound method NDFrame.describe of 0       00
1      NaN
2      NaN
3      NaN
4      NaN
      ...
463    NaN
464    NaN
465    NaN
466    NaN
467    NaN
Name: State_Code, Length: 468, dtype: object>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 432 entries, 0 to 466
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State_Code            432 non-null    object
 1   District_Code         36 non-null     object
 2   Region                432 non-null    object
 3   Census_Year           432 non-null    object
 4   Persons               432 non-null    object
 5   Variation_Absolute    397 non-null    object
 6   Variation_Percentage  397 non-null    object
 7   Males                 432 non-null    object
 8   Females               432 non-null    object
dtypes: object(9)
memory usage: 33.8+ KB

In [ ]:
def clean_number_keep_sign(x):
    if pd.isna(x):
        return x
    x = str(x)
    x = x.replace(",", "")
    x = re.sub(r"[^0-9+\-\.]", "", x)
    return x

num_cols = [
    "Persons",
    "Variation_Absolute",
    "Variation_Percentage",
    "Males",
    "Females"
]

for col in num_cols:
    df[col] = df[col].apply(clean_number_keep_sign)

In [ ]:
df.head

<bound method NDFrame.head of     State_Code District_Code Region Census_Year    Persons Variation_Absolute  \
0           00           000  INDIA        1901  238396327                ---
1          NaN           NaN    NaN        1911  252093390          +13697063
2          NaN           NaN    NaN        1921  251321213            -772177
3          NaN           NaN    NaN        1931  278977238          +27656025
4          NaN           NaN    NaN        1941  318660580          +39683342
..         ...           ...    ...         ...        ...                ...
462        NaN           NaN    NaN        1971     115133             +51585
463        NaN           NaN    NaN        1981     188741             +73608
464        NaN           NaN    NaN        1991     280661             +91920
465        NaN           NaN    NaN        2001     356152             +75491
466        NaN           NaN    NaN        2011     380581             +24429

    Variation_Percentage      Males    Females
0                    ---  120791301  117358672
1                  +5.75  128385368  123708022
2                  -0.31  128546225  122774988
3                 +11.00  142929689  135788921
4                 +14.22  163685302  154690267
..                   ...        ...        ...
462               +81.17      70027      45106
463               +63.93     107261      81480
464               +48.70     154369     126292
465               +26.90     192972     163180
466                +6.86     202871     177710

[432 rows x 9 columns]>

In [ ]:
# Drop rows where ALL columns are empty / NaN
df = df.dropna(how="all")

In [ ]:
df = df.replace(
    ["", " ", "NA", "N.A.", "---", "--"],
    pd.NA
)

In [ ]:
df["Region"] = df["Region"].ffill()

In [ ]:
df["State_Code"] = df["State_Code"].ffill()

In [ ]:
df.describe

<bound method NDFrame.describe of     State_Code District_Code                     Region Census_Year  \
0           00           000                      INDIA        1901
1           00           NaN                      INDIA        1911
2           00           NaN                      INDIA        1921
3           00           NaN                      INDIA        1931
4           00           NaN                      INDIA        1941
..         ...           ...                        ...         ...
462         35           NaN  Andaman & Nicobar Islands        1971
463         35           NaN  Andaman & Nicobar Islands        1981
464         35           NaN  Andaman & Nicobar Islands        1991
465         35           NaN  Andaman & Nicobar Islands        2001
466         35           NaN  Andaman & Nicobar Islands        2011

       Persons Variation_Absolute Variation_Percentage      Males    Females
0    238396327               <NA>                 <NA>  120791301  117358672
1    252093390          +13697063                +5.75  128385368  123708022
2    251321213            -772177                -0.31  128546225  122774988
3    278977238          +27656025               +11.00  142929689  135788921
4    318660580          +39683342               +14.22  163685302  154690267
..         ...                ...                  ...        ...        ...
462     115133             +51585               +81.17      70027      45106
463     188741             +73608               +63.93     107261      81480
464     280661             +91920               +48.70     154369     126292
465     356152             +75491               +26.90     192972     163180
466     380581             +24429                +6.86     202871     177710

[432 rows x 9 columns]>

In [ ]:
df = df.dropna(subset=["Region", "Census_Year", "Persons"])

In [ ]:
df.describe

<bound method NDFrame.describe of     State_Code District_Code                     Region Census_Year  \
0           00           000                      INDIA        1901
1           00           NaN                      INDIA        1911
2           00           NaN                      INDIA        1921
3           00           NaN                      INDIA        1931
4           00           NaN                      INDIA        1941
..         ...           ...                        ...         ...
462         35           NaN  Andaman & Nicobar Islands        1971
463         35           NaN  Andaman & Nicobar Islands        1981
464         35           NaN  Andaman & Nicobar Islands        1991
465         35           NaN  Andaman & Nicobar Islands        2001
466         35           NaN  Andaman & Nicobar Islands        2011

       Persons Variation_Absolute Variation_Percentage      Males    Females
0    238396327               <NA>                 <NA>  120791301  117358672
1    252093390          +13697063                +5.75  128385368  123708022
2    251321213            -772177                -0.31  128546225  122774988
3    278977238          +27656025               +11.00  142929689  135788921
4    318660580          +39683342               +14.22  163685302  154690267
..         ...                ...                  ...        ...        ...
462     115133             +51585               +81.17      70027      45106
463     188741             +73608               +63.93     107261      81480
464     280661             +91920               +48.70     154369     126292
465     356152             +75491               +26.90     192972     163180
466     380581             +24429                +6.86     202871     177710

[432 rows x 9 columns]>

In [ ]:
# after dropping empty rows, forward-filling, and cleaning
df.to_csv("census_clean.csv", index=False)
print("Cleaned data written to census_clean.csv")

Cleaned data written to census_clean.csv